.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.container {
    display: grid;
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
  }





  