
  .container__header {grid-area: header}
  .container__nav { grid-area: nav; }
  .container__footer { grid-area: footer; }
  .container__content { grid-area: content; }
  .container__aside { grid-area: aside; }
  
  .container {
    display: grid;
    grid-template-areas: "header header header"
                         "nav content aside"
                         "footer footer footer";
    grid-template-columns: 175px 1fr 175px;
    grid-template-rows: 100px 
              1fr
              30px;
    min-height: 100vh;
  }
  
  @media screen and (max-width: 600px) {
    .hg {
      grid-template-areas: "nav"
                           "content"
                           "aside"
                           "footer";
      grid-template-columns: 100%;
      grid-template-rows: 100px 
                50px 
                1fr
                50px 
                30px;
    }
  }
  .container__header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;

  }

  .container__header h2, h3{
    color: white;
  }

  .container__footer {
    display: flex;
  }





  