
  /* Holy Grail Layout using CSS Grid */
  .container__header {grid-area: header}
  .container__nav { grid-area: nav; }
  .container__content { grid-area: content; }
  .container__aside { grid-area: aside; }
  .container__footer { grid-area: footer; }
  
  .container {
    display: grid;
    grid-template-areas: "header header header"
                         "nav content aside"
                         "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 50px 
                        1fr
                        30px;
    min-height: 100vh;
  }
  
  /* Responsive@Holy Grail Layout */
  @media screen and (max-width: 600px) {
    .hg {
      grid-template-areas: "header"
                           "nav"
                           "content"
                           "aside"
                           "footer";
      grid-template-columns: 100%;
      grid-template-rows: 100px
                          50px 
                          1fr
                          50px 
                          30px;
    }
  }

/* Header Codes */
  .container__header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
  }

  .container__header h2 {
    color: white;
  }

  .container__header h3 {
    color: white;
  }

/* Footer Codes */ 
  .container__footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
  }

/* Images sizes */
  .container__nav img {
    width: 90%;
  }

.container__content img {
    width: 95%;
}

.container__aside img {
  width: 30%;
}

  